<div class="container-fluid mb-5">
  <h2>Formulaire d'inscription</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()" >
    <div class="form-group">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" id="nom" formControlName="nom"
            [class.is-invalid] ="nom?.invalid && nom?.touched"
            class="form-control">
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email"
            [class.is-invalid] ="email?.invalid && email?.touched"
            class="form-control">
    </div>  
    <div formArrayName="hobbies">
      <h3>Vos Hobbies</h3>
      <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i = index">
        <input type="text" class="form-control" [formControlName]="i">
      </div>
      <button class="btn btn-success w-100" (click)="onAddHobby()">Ajouter un hobbie</button>
    </div>
    <button type="submit" class="btn w-100 mt-2 btn-primary" 
            [disabled]="userForm.invalid">Soumettre</button>
  </form>
</div>
